<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/nauelg" target="_blank" title="linkedIn" class="nav-link"><i class="fab fa-linkedin"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://twitter.com/GNauel" target="_blank" title="Twitter" class="nav-link"><i class="fab fa-twitter-square"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/NauelG/" target="_blank" title="GitHub" class="nav-link"><i class="fab fa-github-square"></i></a>
      </li>
    </ul>
    <span class="navbar-text">
      <%= __('All rights reserved') %> © 2018 | <%= __('Created by') %> <strong>Nauel G.</strong>
    </span>
  </div>
</nav>
